In [11]:
bayesplay::loadpackages()

# Bayesian data analysis workshop 2020


## Guide

All analysis code should be written in this notebook. Explanatory text can also be included. 

Once complete, the notebook should be downloaded as an `.ipynb` as attached to the assignment. Note, you have no persistent storage, so please ensure you regularly download the file while you're working on it so work does not get lost.

# Question 1

A researcher was interested in whether there is a gender difference in maths anxiety scores. They predict women would have higher scores than men.  Using the aMAS score (which assigns scored from 9 to 45), they find the following data:

In [14]:
set.seed(1)
max_possible = 45
male = 28 + 9 * scale(rnorm(n = 15, 0, 1)) %>% map_dbl(., function(x) round(x))
female = (35 + 10 * scale(rnorm(n = 16, 0, 1))) %>% map_dbl(.,function(x) ifelse(x > 45, 45, round(x)))

amas_data = rbind(tibble(gender = "male", score = male),
             tibble(gender = "female", score = female))
                                                            
amas_data

   gender score
1  male   19
2  male   28
3  male   19
4  male   37
5  male   28
6  male   19
7  male   28
8  male   37
9  male   28
10 male   28
11 male   37
12 male   28
13 male   19
14 male   10
15 male   37
16 female 33
17 female 33
18 female 44
19 female 43
20 female 40
21 female 44
22 female 42
23 female 34
24 female 11
25 female 40
26 female 33
27 female 32
28 female 17
29 female 28
30 female 38
31 female 45

## 1.1

Represent this prediction (that women would score higher than man) in three ways. 

1. With a uniform prior (remember that the max score is 45)
2. With a normal prior. For the normal prior you theorise that the difference is mostly like to be small. You decide to put most of the weight near 0 with the prior weight reducing steadily as it approaches the maximum possible difference. To do this, use a normal prior centred at zero and with a standard deviation of half the maximum possible difference.
3. Some other way you think is reasonable and explain your reasoning.

# 1.2 

1. For your $\mathcal{H}_0$ you should use a point null of 0. 
2. In addition you should also trying using an interval null. You consider differences between 0 and 5 to be equally "null". Represent this with a uniform prior. 

# 1.3 

1. Define likelihood for your data. Explain your reasoning behind it. 
2. Compute the corresponding **Bayes Factors** for the 3 $\times$ $\mathcal{H}_1$ priors and 2 $\times$ $\mathcal{H}_0$ priors

You can also choose to include plots of the priors and likelihoods, or anything else that will help you explanations.

In [15]:
bayesplay::loadpackages()

# You can write the code for question 1 in here!

# Question 2


The data set `math_data` contains data from a mathematics and reading assessment for 40 children. The data contains 4 columns. 

1. `id` is the ID of the child
2. `reading` is their reading score 
3. `procspeed` is their score on a processing speed task
4. `math` is their score on a math assessment

You're interested in the **math** outcome measure. Specifically, you're interested in whether **reading** predicts **math**.

In [59]:
set.seed(613)

n   <- 40
rho <- .7

math_data =  tibble(
         id = 1:n,
         reading = rnorm(n, 100, 1),                    
         procspeed = rnorm(n, rho * reading, sqrt(1 - rho^2)), 
         math     = 100 + rnorm(n, (reading - procspeed), 1))     

math_data

   id reading   procspeed math
1   1 102.02639 72.10414  129.4610
2   2  98.73906 69.55919  129.6402
3   3  99.54638 69.91385  128.8976
4   4 100.15609 70.94084  128.1142
5   5  99.09502 69.51510  129.7366
6   6 100.29580 69.29277  130.1711
7   7  99.75005 70.73075  127.7774
8   8 100.24709 71.01261  130.7442
9   9  99.26103 69.97788  129.2561
10 10  98.19081 68.75362  129.8858
11 11 101.50495 70.16024  129.4968
12 12 100.83516 69.70091  127.1628
13 13 101.20356 71.33899  130.1491
14 14 101.40328 70.14190  130.9316
15 15  99.97309 69.92355  129.8989
16 16 101.60516 71.45269  130.4631
17 17  99.51564 70.31281  129.5008
18 18  99.54350 70.82139  127.8136
19 19 100.25905 68.76228  132.3434
20 20 101.55711 71.15029  130.3192
21 21 100.06614 70.96887  128.4376
22 22  99.49772 70.74455  127.1540
23 23  99.36255 69.15882  130.2796
24 24  99.15573 69.80145  127.4553
25 25  98.34456 69.25926  128.0154
26 26  97.86440 69.36616  127.9408
27 27 100.94996 69.42940  130.6655
28 28  97.84797 68.31126  128.7876
29 29  98.39061 67.56801  131.8579
30 30  98.99228 69.70030  128.6604
31 31 101.25122 70.95214  130.6898
32 32 100.70619 70.83822  129.7401
33 33 101.07537 69.87598  132.4549
34 34 100.92256 69.56018  131.6218
35 35 101.66805 71.08067  129.0739
36 36  97.83054 68.95303  129.3429
37 37  99.84184 70.19647  128.5889
38 38  99.66901 69.93389  130.0153
39 39 100.37098 70.36412  130.8225
40 40  99.26057 67.65558  131.4153

## 2.1

1. Using **brms** fit 4 regression models. 
    1. Model 1 should be an intercept only model (predicting math)
    2. Model 2 should include 1 predictor (predicting math)
    3. Model 3 should include 1 predictor (predicting math) - Model 2 and Model 3 should have different predictors
    4. Model 4 should include both predictiors (i.e., reading and processing speed)

2. Describe the priors you've used for the parameters and include your reasoning about the prior choices.

## 2.2

1. Provide a table or figure of the regression coefficients for all 4 models

## 2.3 

1. Compare the models using PSIS-LOO and state which model is "best"
2. Average the model using PSIS-LOO
3. Generate **model averaged** predictions for the relationship between Reading and Math.

In [63]:
bayesplay::loadpackages()

# You can write the code for question 2 in here!